* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: url(../images/train.jpg) center no-repeat;
  background-size: cover;
  line-height: 1.5;
  height: 100%;
  font-size: 1em;
  color: white;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.wrap {
  text-align: center;
}

.intro p {
  font-size: 1.3em;
}

.intro,
.section {
  padding: 20px 15px;
}

.Finacial-links {
  margin: 50px 0;
}

.logo-figure {
  text-align: center;
  margin: 30px 0;
}

.main-nav {
  text-align: center;
  padding: 10px 0;
}
.main-nav li {
  margin: 10px 0;
}
.main-nav li a {
  display: block;
  padding: 20px;
  font-size: 1.3em;
}
.main-nav li a:hover {
  background-color: grey;
  border-bottom: 2px solid;
}

.logo-figure .logo {
  border: 2px solid black;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.border-top {
  border-top: 2px solid #fff;
  width: 80%;
  margin: auto;
}

footer p,
footer h3 {
  padding: 10px 15px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.signup-form input {
  background-color: black;
  color: white;
  opacity: 0.5;
  font-size: 1.124em;
  border: white 2px solid;
}

.signup-form input[type=submit] {
  padding: 10px;
}
.signup-form input[type=submit]:hover {
  background-color: #fff;
  color: #000;
}

.social_media li img {
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #fff;
}

@media all and (min-width: 720px) {
  .shape {
    background: rgba(169, 169, 169, 0.8);
    height: 350px;
    clip-path: polygon(0% 0%, 50% 50%, 0% 100%, 100% 100%);
    width: 80%;
    margin: auto;
    max-width: 1200px;
    margin-bottom: 40px;
  }

  .house-container {
    position: relative;
  }

  .chimney {
    height: 200px;
    width: 100px;
    background: rgba(169, 169, 169, 0.5);
    position: absolute;
    left: 20%;
    top: 40%;
  }

  .smoke-container {
    position: absolute;
    bottom: 40%;
    left: 20%;
  }
  .smoke-container .smoke {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #262626;
    border-radius: 50%;
  }

  .smoke:nth-child(even) {
    animation: animateEven 4s linear infinite;
  }

  .smoke:nth-child(odd) {
    animation: animateOdd 4s linear infinite;
  }

  @keyframes animateEven {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      filter: blur(5px);
    }
    100% {
      transform: translate(100px, -500px) scale(3);
      opacity: 0;
      filter: blur(10px);
    }
  }
  @keyframes animateOdd {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      filter: blur(5px);
    }
    100% {
      transform: translate(-100px, -500px) scale(3);
      opacity: 0;
      filter: blur(10px);
    }
  }
  .smoke:nth-child(1) {
    animation-delay: 0s;
  }

  .smoke:nth-child(2) {
    animation-delay: 0.4s;
  }

  .smoke:nth-child(3) {
    animation-delay: 0.8s;
  }

  .smoke:nth-child(4) {
    animation-delay: 1.2s;
  }

  .smoke:nth-child(5) {
    animation-delay: 1.6s;
  }

  .smoke:nth-child(6) {
    animation-delay: 2s;
  }

  .smoke:nth-child(7) {
    animation-delay: 2.4s;
  }

  .smoke:nth-child(8) {
    animation-delay: 2.8s;
  }

  section::after {
    content: "";
    display: block;
    height: 20px;
    background: rgba(169, 169, 169, 0.7);
    margin: 3em 0;
  }
}

/*# sourceMappingURL=style.css.map */
